* {
  margin: 0;
  padding: 0;
}

main {
  display: grid;
  grid-gap: 1rem;
  grid-template-areas:
    'game game'
    'score lives';
  margin: 1rem auto;
  width: 350px;
}

main p {
  grid-area: score;
}

main p + p {
  grid-area: lives;
  text-align: right;
}

main canvas {
  background: #000;
  grid-area: game;
  display: block;
  margin: 0;
}

main canvas:hover {
  cursor: none;
}
